/* Responsive Stylesheet for Euforia Page Clone
   Using Mobile First Media Queries

   All styles for Tablet & Desktop Devices go inside the first media query (@min-width: 768px)
   All styles strictly for large devices go inside the second media query (@min-width:1024px)

*/

@media only screen and  (min-width: 768px) {





}

@media only screen and  (min-width: 1024px) {

  /*************************
  *** Structural Styles ****
  **************************/

  .outer-container
  {
    display:flex;
    flex-direction: row;
  }

  .main-content
  {
    height:100vh;
    width:80%;
  }

  /*************************
  ***** Nav Header Styles ***
  **************************/

  .sidebar-nav
  {
    display: flex;
    flex-direction: column;
    overflow:hidden;
    width:20%;
  }

  .sidebar-container, .slider-nav
  {
    position: absolute;
    height:100%;
  }

  .logo
  {
    font-size:2rem;
    padding-top:4rem;
    margin-right: 1rem;
    color:red;
  }

  .nav-header a
  {
    transform-origin: center center;
    padding:0.5rem 0.8rem;
    right:1px;
  }

  .nav-header a:hover
  {
    transform:scale(1.1);
    background-color:red;
  }

  .nav-header > a i
  {
    font-size:1rem;
  }


  .slider-nav
  {
    z-index: 0;
    left:-555px;
    display: block;
  }

  .slider-nav .angle-left
  {
    padding-top:0.5rem;
    color:white;
  }


  .slider-nav .search-box
  {
    margin:2rem 0 3rem;
    padding:0 1.5rem;
  }

  a.angle-left-link
  {
    padding: 0.2rem 1.2rem 0.3rem 0.9rem;
    background-color: red;
    margin-left:1px;
    margin-top:2px;
    display:inline-block;
  }

  a.angle-left-link:hover
  {
    transform:scale(1.1);
    background-color: white;

  }

  a.angle-left-link:hover > i
  {
    color:red;    /* change icon color to red on hover */
  }

  .slider-nav .search-box
  {

  }

  .nav-list ul
  {
    display:block;
    padding:0;
    margin:5rem 1.5rem 5rem 0;
    text-align: right;
  }

  .nav-list ul li
  {
    margin-bottom:1.1rem;
    text-transform: uppercase;
  }

  .nav-list ul li > a:after
  {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color:red;
    content: "";
    transition: width 300ms;
  }

  .nav-list ul li > a:hover:after
  {
    width:100%;
  }

  .main-content h1
  {
    font-size: 3.5rem;
  }

  .main-content h2{
    font-size: 2rem;
  }

  .social
  {
    display: block;
  }
  .social li
  {
    display: inline;

  }

  .social-icons
  {
    text-align: center;
  }

  .social-icons li > a
  {
      margin-right:0.2rem;
      font-size:0.8rem;
  }

  .trademark
  {
    display: block;
    text-align: center;
    margin-top:1.8rem;
  }

  .trademark p
  {
    text-transform: uppercase;
    font-size:0.7rem;
    font-weight:300;
  }

  .trademark p > span
  {
    font-weight:bold;
  }

}