/* Stylesheet for Splash Page Clone
created by Chingu Voyage Cohorts - Owls-Team-5
Contributors - @nmtushan - @itsdpm - @Umii

All Styles that apply to Mobile Devices go here
All Styles that would be shared by Mobile and Other Devices go here

*/

/*************************
*******Typography******
**************************/

body {
    font-family: 'Crimson Text', serif;
    font-size:18px;
    height: auto; width: 100%;
    padding: 0; margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
}

.outer-container
{
    display:flex;
}

.main-nav
{
    border:1px solid #000;
    width:25%;
    height:200px;
}

.main-content
{
    border:1px solid red;
    width:75%;
    height:100vh;
    background:url("../images/eufC1.jpg") 0 0 no-repeat;
}