/* Stylesheet for Euforia Page Clone
created by Chingu Voyage Cohorts - Owls-Team-5
Contributors - @nmtushan - @itsdpm - @Umii

All Styles that apply to Mobile Devices go here
All Styles that would be shared by Mobile and Other Devices go here

*/

/*************************
*******Typography******
**************************/

body {
    font-family: 'Crimson Text', serif;
    font-size:18px;
    height: auto; width: 100%;
    padding: 0; margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
}

.outer-container{
  display: flex;
  flex-direction: column;
}
.main-nav{
  border: 1px solid #000; 
  width: 100%; height: 15vh;
  display: flex; flex-direction: row;
  justify-content: space-between;
}
.brand-image{
  border: 1px solid #00F;
  width: 27%; height: 100%;
}
.nav-list {
    border: 1px solid #361;
    width: 22%;
    height: 100%;
}

.social, .trademark{
  display: none;
}


.social{
    border: 1px solid #F90;
    width: 100%;
    height: 7%;
    padding: 3%;
}

.social ul{
    float: right;
}

.social li{
    display: inline;
    padding: 0 10px 0 10px;
}

.fa{
    color: red;
}

.trademark{
    border: 1px solid #000;
    width: 100%;
    height: 5%;
}

.main-content{
    width: 100%; height: 85vh;
    background: url('../images/conBack.jpg') no-repeat;
    background-size: cover; background-position-x: 50%;
}
