/* Stylesheet for Euforia Page Clone
created by Chingu Voyage Cohorts - Owls-Team-5
Contributors - @nmtushan - @itsdpm - @Umii

All Styles that apply to Mobile Devices go here
All Styles that would be shared by Mobile and Other Devices go here

*/

/*************************
*******Typography******
**************************/

body {
    font-family: 'Droid Serif', serif;
    color:#121212;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Oswald', sans-serif;
    text-transform: uppercase;
}

@font-face {
    font-family: 'pasajeroregular';
    src: url('fonts/pasajero-webfont.woff2') format('woff2'),
    url('fonts/pasajero-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*************************
***** General Styles *****
**************************/

a:focus {
    outline:none;
    outline-offset: 0;
}

a {
    -webkit-transition:all 500ms ease-out;
    -moz-transition:all 500ms ease-out;
    -o-transition:all 500ms ease-out;
    transition:all 500ms ease-out;
}

a:hover
{
    text-underline: none;
}

/*************************
*** Structural Styles ****
**************************/

.outer-container{
    display: flex;
    flex-direction: column;
    height:100vh;
}

/* Styles for main background image section */

.main-content{
		width: 100%;
		height: 100%;
    background: url('../images/conBack.jpg') no-repeat;
    background-size: cover;
    background-position-x: 50%;
    overflow:hidden;
}


ul
{
  padding:0;
}

ul li
{
		list-style:none;
		text-align: right;
		font-family: Arial, Helvetica, sans-serif;
}


/*************************
*** Sidebar Nav Styles ***
**************************/


.sidebar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    background-color: black;
    
    /*transition: all 700ms ease;*/
}

.sidebar-container, .slider-nav
{
    position: relative;
    width:100%;
    transition: all 600ms ease-in-out;
}

.slider-nav
{
    display: none;
    background-color: #fff;
}


.sidebar-container
{
    z-index:1;
    background-color:black;
    color:white;
}



.search-box .form-control
{
    padding:0.8rem 1rem;
    border-color: #f7f7f7;
}

.search-box .form-control:focus
{
    background-color: rgba(242,242,242,0.7);
    -webkit-transition:all 0.4s ease-out;
    -moz-transition:all 0.4s ease-out;
    -o-transition:all 0.4s ease-out;
    transition:all 0.4s ease-out;
}


.search-box .form-control::-webkit-input-placeholder
{
    font-size:0.8rem;
}

.search-box .form-control::-moz-placeholder
{
    font-size:0.8rem;
}


.input-group-addon
{
    padding:0.75rem 1rem;
    background-color: #fff;
    border-color: #f7f7f7;
}

.slider-links-container
{
    padding:0 1.5rem;
}

.slider-links-container ul
{
    margin-bottom:4rem;
}

.slider-links-container ul li
{
    font-size:0.9rem;
    margin-bottom:1rem;
}

.slider-links-container ul li > p
{
    margin-bottom:0;
}

.slider-links-container ul li a
{
    color:#121212;
}

.slider-links-container ul li a:hover
{
    text-decoration:none;
    color:red;
}

.slider-links-container ul li:first-of-type
{
    margin-bottom:1.5rem;
}

.slider-links-container ul li > i
{
    margin-right:0.4rem;
    color:#aaa;
}

.nav-header
{
    display: flex;
    position:relative;
    width:100%;
    padding:0.2rem 0.8rem 0.5rem;
}

.nav-header a
{
    transform-origin: center center;
    position:absolute;
    padding:1rem 0.5rem 0.8rem;
    right:5px;
}


.logo
{
    font-weight:bold;
    font-family:'pasajeroregular', serif;
    color:white;
    font-size:1.5rem;
    padding-top:1rem;
    margin-left: 0;
}


.nav-header > a i
{
    font-size:1.6rem;
    color:white;
}

.nav-list {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size:0.9rem;
}

.nav-list ul
{
		display:none;
}



.nav-list ul li > a
{
    /*color:#414141;*/
    color:white;
    text-decoration:none;
    font-size:0.8rem;
    position:relative;
}

.nav-list ul li > a:hover
{
    color:red;
}




/*************************
*** Social Icon Styles ***
**************************/


.social, .trademark{
    display: none;
}

.social{

    /*border: 1px solid #F90;*/
    padding-top: 3rem;

}

.social li
{
    display: inline;
    padding: 0 10px 0 10px;
}

.fa{
    color: red;
}


.trademark{
    border: 1px solid #000;
		width: 100%;
		height: 5%;
}


.social-icons > li > a > i
{
    color: #F00;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    transition: transform 1s;
}
.social-icons > li > a > i:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}




.main-content div
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:3rem;
    height:inherit;
}

.main-content h1
{
	font-size: 2.5rem;
    font-weight: bold;
}
.main-content h1 span
{
	display: inline-block;
}
.main-content h2{
	font-size: 1.3rem;
}
#trade{
	font-weight: bold;
}

