/* Stylesheet for Euforia Page Clone
created by Chingu Voyage Cohorts - Owls-Team-5
Contributors - @nmtushan - @itsdpm - @Umii

All Styles that apply to Mobile Devices go here
All Styles that would be shared by Mobile and Other Devices go here

*/

/*************************
*******Typography******
**************************/

body {
    font-family: 'Droid Serif', serif;
    color:#000;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Oswald', sans-serif;
    text-transform: uppercase;
}

@font-face {
    font-family: 'pasajeroregular';
    src: url('fonts/pasajero-webfont.woff2') format('woff2'),
    url('fonts/pasajero-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*************************
***** General Styles *****
**************************/

a:focus {
    outline:none;
    outline-offset: 0;
}

a {
    -webkit-transition:all 300ms ease-out;
    -moz-transition:all 300ms ease-out;
    -o-transition:all 300ms ease-out;
    transition:all 300ms ease-out;
}

a:hover
{
    text-underline: none;
}

/*************************
*** Structural Styles ****
**************************/

.outer-container{
    display: flex;
    flex-direction: column;
    height:100vh;
}

.main-content{
		width: 100%;
		height: 100%;
    background: url('../images/conBack.jpg') no-repeat;
    background-size: cover;
    background-position-x: 50%;
}

ul li
{
		list-style:none;
		text-align: right;
		font-family: Arial, Helvetica, sans-serif;
}


/*************************
***** Nav Header Styles ***
**************************/


.sidebar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nav-header
{
    display: flex;
    position:relative;
    width:100%;
    padding:0.5rem 0.8rem 0.5rem;

}

.nav-header a
{
    transform-origin: center center;
    position:absolute;
    padding:0.5rem 0.8rem;
    right:1px;
}


.logo
{
    font-weight:bold;
    font-family:'pasajeroregular', serif;
    color:black;
    font-size:1.5rem;
    padding-top:0.5rem;
    margin-left: 0;
}


.nav-header > a i
{
    font-size:1.4rem;
    color:red;
}

.nav-list {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size:0.9rem;
}

.nav-list ul
{
		display:none;
}



.nav-list ul li > a
{
    color:#414141;
    text-decoration:none;
    font-size:0.8rem;
    position:relative;
}

.nav-list ul li > a:hover
{
    color:red;
}


/*************************
*** Social Icon Styles ***
**************************/


.social, .trademark{
    display: none;
}

.social{
		/*border: 1px solid #F90;*/
    width: 100%;
    padding: 0 1rem 0 0;
}

.social ul{
    float: right;
}

.social li{
    display: inline;
    padding: 0 10px 0 10px;
}

.fa{
    color: red;
}

.trademark{
    border: 1px solid #000;
		width: 100%;
		height: 5%;
}


.social-icons > li > a > i
{
    color: #F00;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    transition: transform 1s;
}
.social-icons > li > a > i:hover{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}
.main-content h1
{
	display: block; position: relative;
	margin-top: 67%; text-align: center;
	font-size: 36px; font-weight: bold;
	color: #1B1A1A;
}
.main-content h1 span
{
	display: inline-block;
	text-align: center;
}
.main-content h2{
	font-size: 27px;
	text-align: center;
	color: #1B1A1A;
}
#trade{
	font-weight: bold;
}
